a {
    display: block;
    text-decoration: none;
}



.tagline {
    text-align: center;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive, serif;
}

.tagline a {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.nav {
    background-color: #0e230d;
    color: white;
    height: 2em;
    padding-top: 1em;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive, serif;
    display: block;
}

.nav a {
    color: white;
    display: block;
}

.articleh2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive, serif;
}

.articleimg {
    width: 98%;
}

.articlep {
    font-size: 0.75rem;
    font-family: 'Poiret One', cursive, sans-serif;
}

.portfolioh3 {
    text-align: center;
    font-family: 'Abril Fatface', cursive, serif;
}

.portfolioimg {
    width: 100%;
}

.portfolioh4 {
    text-align: center;
    font-family: 'Abril Fatface', cursive, serif;
}

footer {
    clear: both;
    font-family: 'Abril Fatface', cursive, serif;
    margin-left: 2em;
}

.icons {
    width: 1em;
    height: auto;
    float: left;
    margin-top: 3em;
    margin-right: 1em;
    padding-top: 2em;
}

.company {
    clear: both;
}

@media only screen and (max-width: 35em) {
    body {
        width: 95%;
        margin-left: 0.5em;
        background-color: white;
    }

    a {
        display: block;
        text-decoration: none;
    }

    .logo {
        width: 100px;
        height: auto;
        margin-left: 10.5em;
    }

    .tagline {
        text-align: center;
        text-decoration: none;
        font-family: 'Abril Fatface', cursive, serif;
    }

    .tagline a {
        color: black;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
    }

    .nav {
        background-color: #0e230d;
        color: white;
        height: 2em;
        padding-top: 1em;
        margin-bottom: 2em;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
        font-family: 'Abril Fatface', cursive, serif;
        display: block;
    }

    .nav a {
        color: white;
        display: block;
    }

    .articleh2 {
        text-align: center;
        font-family: 'Abril Fatface', cursive, serif;
    }

    .articleimg {
        width: 98%;
    }

    .articlep {
        font-size: 0.75rem;
        font-family: 'Poiret One', cursive, sans-serif;
    }

    .portfolioh3 {
        text-align: center;
        font-family: 'Abril Fatface', cursive, serif;
    }

    .portfolioimg {
        width: 100%;
    }

    .portfolioh4 {
        text-align: center;
        font-family: 'Abril Fatface', cursive, serif;
    }

    footer {
        clear: both;
        font-family: 'Abril Fatface', cursive, serif;
        margin-left: 2em;
    }

    .icons {
        width: 1em;
        height: auto;
        float: left;
        margin-top: 3em;
        margin-right: 1em;
        padding-top: 2em;
    }

    .company {
        clear: both;
    }

}

@media only screen and (min-width: 35em) {
    body {
        width: 100%;
        margin: 1em;

    }

    .logo {
        margin-left: 13em;
        margin-bottom: 2em;

    }

    .tagline h1 {
        position: absolute;
        left: 6.5em;
        top: 7em;
        margin-bottom: 2em;
    }

    .nav {
        margin-bottom: 5em;
    }

    li {
        width: 13em;
        float: left;
        margin-right: 0.5em;
    }

    .articleh2 {
        clear: both;
        text-align: center;
    }

    .articleimg {
        width: 40%;
        float: left;
        margin: 2em;
    }

    .articlep {
        font-size: 1rem;
        margin: 2em;
        padding-top: 1em;
    }

    .portfolioh3 {
        clear: both;
        text-align: center;
    }

    #ione {
        width: 15.5em;
        position: absolute;
        bottom: 4.6em;
    }

    #itwo {
        width: 15.5em;
        position: absolute;
        left: 17.2em;
        bottom: 4.6em;
    }

    #ithree {
        width: 15.5em;
        position: absolute;
        bottom: -17em;
    }

    #ifour {
        width: 15.5em;
        position: absolute;
        left: 17.2em;
        bottom: -17em;
    }

    #ifive {
        width: 15.5em;
        position: absolute;
        bottom: -39em;
    }

    #isix {
        width: 15.5em;
        position: absolute;
        left: 17.2em;
        bottom: -39em;
    }

    #hone {
        position: absolute;
        bottom: 0em;
        left: 7em;
    }

    #htwo {
        position: absolute;
        left: 23em;
        bottom: 0em;
    }

    #hthree {
        position: absolute;
        bottom: -22em;
        left: 7em;
    }

    #hfour {
        position: absolute;
        left: 23em;
        bottom: -22em;
    }

    #hfive {
        position: absolute;
        bottom: -45em;
        left: 7em;
    }

    #hsix {
        position: absolute;
        left: 23em;
        bottom: -45em;
    }

    footer {
        position: absolute;
        bottom: -55em;
    }

}

@media only screen and (min-width: 80rem) {
    body {
        width: 80%;
        margin: 0em;
        padding-left: 9em;
    }

    .logo {
        float: left;
        margin: 0em;
        margin-right: 4em;
        margin-left: 2em;
        margin-top: 1.5em;
        margin-bottom: 10em;
    }


    li {
        float: left;
        width: 10em;
        margin-right: 1em;
        margin-top: 3em;
    }

    .tagline h1 {
        width: 40%;
        height: 2em;
        text-align: left;
        top: 5em;
        position: absolute;
    }

    .articleh2 {
        clear: both;
        text-align: left;
        margin-left: 1.8em;
    }

    .articleimg {
        width: 20%;
        float: left;
        margin: 2em;
    }

    .articlep {
        font-size: 1.25rem;
        margin: 2em;
        padding-top: 0.5em;
    }

    .portfolioh3 {
        clear: both;
        text-align: center;
        margin-top: 5em;
        margin-bottom: 1em;
    }

    #ione {
        width: 23em;
        float: left;
        position: absolute;
        left: 11em;
    }

    #itwo {
        width: 23em;
        float: left;
        left: 37.5em;
        position: absolute;
    }

    #ithree {
        width: 23em;
        float: left;
        left: 64em;
        bottom: 4.6em;
        position: absolute;
    }

    #ifour {
        width: 23em;
        margin: 0em;
        left: 11em;
        position: absolute;
        bottom: -30em;
    }

    #ifive {
        width: 23em;
        float: left;
        left: 37.5em;
        position: absolute;
        bottom: -30em;
    }

    #isix {
        width: 23em;
        float: left;
        left: 64em;
        position: absolute;
        bottom: -30em;
    }

    #hone {
        float: left;
        position: absolute;
        top: 43em;
        left: 19em;
    }

    #htwo {
        float: left;
        position: absolute;
        top: 43em;
        left: 47.5em;
    }

    #hthree {
        float: left;
        position: absolute;
        top: 43em;
        left: 74em;
    }

    #hfour {
        float: left;
        position: absolute;
        top: 78em;
        left: 19em;
    }


    #hfive {
        float: left;
        position: absolute;
        top: 78em;
        left: 48em;
    }

    #hsix {
        float: left;
        position: absolute;
        top: 78em;
        left: 74em;
    }

    footer {
        clear: both;
        position: absolute;
        top: 85em;
    }
}
