<h3 class="articleh2">Article 1</h3>
<img src="./img/bookthumbnail.jpg" alt="book" class="articleimg">
<p class="articlep">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante purus, ullamcorper non neque ac, ultricies aliquam ex. Etiam scelerisque dolor quis massa consequat, nec pellentesque libero volutpat. Aenean id orci venenatis, maximus nunc non, dignissim urna. Integer eleifend placerat tincidunt. Cras rutrum mauris sit amet tellus eleifend, non elementum enim interdum. Sed volutpat tristique quam. In id mattis sapien. Vivamus lacus augue, eleifend vitae massa ut, pulvinar dignissim neque. Integer at sem mauris. Curabitur tincidunt lectus eget ipsum faucibus placerat.</p>

<hr>

<h3 class="articleh2">Article 2</h3>
<img src="./img/weedthumbnail.jpg" alt="weed" class="articleimg">
<p class="articlep">In vel commodo sem, eget molestie quam. Donec semper sem eu quam tempor, vel tincidunt augue malesuada. Vivamus vehicula lobortis libero, at eleifend metus porttitor in. Suspendisse ut orci malesuada, porttitor dui nec, tristique odio. Praesent consequat orci eros. Curabitur a ligula non leo posuere faucibus eget in nisi. Donec consequat id augue ac maximus. In hac habitasse platea dictumst. Morbi eu nisi sagittis, ultrices enim at, viverra velit. Duis nunc orci, egestas vulputate diam ut, ullamcorper efficitur risus. Donec ipsum tellus, faucibus sit amet ex eu, bibendum facilisis lacus. Vivamus pretium maximus elit vel mattis.</p>

<hr>

<h3 class="articleh2">Article 3</h3>
<img src="./img/fadethumbnail.jpg" alt="fade" class="articleimg">
<p class="articlep">Pellentesque interdum, leo fringilla cursus pulvinar, mauris justo vulputate tortor, at mattis dui purus eget augue. Vestibulum tempus enim tellus, eu semper mauris pulvinar semper. Integer a ipsum eget purus suscipit vulputate id nec nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Curabitur convallis, dui eu blandit sollicitudin, orci nisl lobortis ex, id varius mi urna in erat. Nullam venenatis est sed ex laoreet, vel euismod nunc ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam tempor congue augue sed laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sollicitudin nec dui sed consectetur.</p>
