<h3 class="portfolioh3">Portfolio</h3>

<img src="./img/birdthumbnail.jpg" alt="bird" class="portfolioimg" id="ione">
<h4 class="portfolioh4" id="hone">Project 1</h4>


<img src="./img/boatthumbnail.jpg" alt="boat" class="portfolioimg" id="itwo">
<h4 class="portfolioh4" id="htwo">Project 2</h4>


<img src="./img/daisythumbnail.jpg" alt="daisy" class="portfolioimg" id="ithree">
<h4 class="portfolioh4" id="hthree">Project 3</h4>


<img src="./img/logthumbnail.jpg" alt="log" class="portfolioimg" id="ifour">
<h4 class="portfolioh4" id="hfour">Project 4</h4>


<img src="./img/moonthumbnail.jpg" alt="moon" class="portfolioimg" id="ifive">
<h4 class="portfolioh4" id="hfive">Project 5</h4>


<img src="./img/sunsetthumbnail.jpg" alt="sunset" class="portfolioimg" id="isix">
<h4 class="portfolioh4" id="hsix">Project 6</h4>
